body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3c0663;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.navbar .nav-links a.active {
  font-weight: bold; /* Highlight the active link by making it bold */
  text-decoration: underline; /* Optional: underline the active link */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.form-container {
  background-color: #fff;
  padding: 20px 30px;  /* Add padding for left and right */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;  /* Increase width */
  margin: 0 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: calc(100% - 22px); /* Adjusted to account for padding and border */
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}